body{
    margin: 0;
    padding: 0;
    font-family: Kufam,verdana,monaco;
    background-color: #0099ff; 
}

/* INICIO HEADER */

header{
    display: flex;
    background-color: #06042D;
    justify-content: space-between;
    color: black;
    align-items: center;
    padding: 15px;
    /* position: fixed; */
}
.logo{
    display: flex;
    text-decoration: none;
    height: 90px;
    font-weight: 900;
    align-items: center;
    font-family: sans-serif;
    margin-left: 4rem;
}
.logo h2{
    font-weight: 600;
    font-size: 50px;
    color: white;
    margin-left: 30px;
}
.logo img{
    height: 80px;
}
nav a{
    padding-right: 15px;
}
nav i {
    font-size: 40px;
}

/* FIN HEADER */
/* INICIO MAIN */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #06042D;
    color: white;
    height: 50vh;
}
main h1{
    margin: 0;
    font-size: 72px
}
main p{
    font-size: 50px;
}
.contacto{
    border: none;
    background-color: #0515FF;
    color: white;
    padding: 1.5rem 2.5rem;
    margin: 20px;
    font-size: 21px;
    box-shadow: 1px 11px 28px -4px rgba(255,255,255,0.65);
    -webkit-box-shadow: 1px 11px 28px -4px rgba(255,255,255,0.40);
    -moz-box-shadow: 1px 11px 28px -4px rgba(255,255,255,0.65);
    border-radius: 0px 15px 0px 15px;
    font-weight: 600;
}
/* FIN MAIN */

/* INICIO ABOUT ME */
.waveTop{
    display: flex;
    background-color: #06042D;
    height: 30vh;
    margin: 0;
    padding: 0;
    position: relative;
}

.waveTop svg{
    position: absolute;
    bottom: -1px;
    left: 0;
}
.waveBottom{
    display: flex;
    background-color: #06042D;
    height: 20vh;
    margin: 0;
    padding: 0;
    position: relative;
}
.waveBottom svg{
    position: absolute;
    top: 0px;
    left: 0;
    margin: 0;
    padding: 0;
}
.aboutMe{
    width: 100%;
    /* background-color: #0099ff; */
    /* background-color: #06042D; */
    display: flex;
    justify-content: center;
    height: 450px;
}
.aboutMe .container{
    width: 60%;
    margin: o auto;
    /* background-color: #0099ff; */
    /* background-color: #06042D; */
    color: white;
}
.aboutMe .container h4{
    position: relative;
    font-size: 70px;
    text-align: center;
    font-weight: 900;
    margin: 0;
    padding-top: 30px;
    
}
.aboutMe .container p{
    padding: 0.5rem;
    font-size: 30px;
}
/* FIN ABOUT ME */

/* INICIO EXPERIENCIA */
.experiencia{
    height: 60vh;
    margin-top: -20px;
    padding-top: 20px;
    background-color: #06042D;
    color: white;
}
.experiencia h3{
    font-size: 70px;
    text-align: center;
    font-weight: 900;
    margin: 50px;
}
.informacion{
    display: flex;
    width: 100%;
    align-items: center;
}
.informacion .job{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0;
}
.informacion p{
    font-size: 25px;
}
/* IZQUIERDA */
.info-izquierda .container{
    height: 15rem;
    background: rgb(6,4,45);
    background: linear-gradient(90deg, rgba(6,4,45,1) 0%, rgba(4,114,253,1) 95%);
    width: 35%;
    border: 1px solid #000;
    border-radius: 15px;
}
.info-izquierda .container .job-izquierdo{
    margin-left: 60%;
}
.info-izquierda .detalle{
    width: 65%;
    border: 1px solid #000;
    margin-right: 20%;
    margin-left: 40px;
}

/* DERECHA */
.info-derecha .container .job-derecho{
    margin-left: 17%;
}
.info-derecha .detalle{
    width: 65%;
    border: 1px solid #000;
    margin-left: 20%;
    margin-right: 40px;
}
.info-derecha .container{
    height: 15rem;
    background: rgb(4,114,253);
    background: linear-gradient(90deg, rgba(4,114,253,1) 0%, rgba(6,4,45,1) 95%);
    width: 35%;
    border: 1px solid #000;
    border-radius: 15px;
}
/* FIN EXPERIENCIA */



/* Media querys */
/* cuando llegue a los 768 pixeles, se ocultara el nombre del header y solo se mostrara el logo */
@media (max-width:780px){
    /* INICIO HEADER */
    .logo{
        margin-left: 0;
    }
    nav img{
        height: 60px;
    }
    .logo h2{
        display: none;
    }
    
    /* FIN HEADER */

    /* INICIO MAIN */
    main P{
        font-size: 27px;
    }
    main h1{
        font-size: 42px;
        text-align:center;
    }
    .aboutMe{
        height: 20vh;
        width: 100%;
    }   
    .aboutMe .container h4{
        font-size: 40px;
        font-weight: 600;
        width: 100%;
        
    }
    .aboutMe .container p{
        font-size: 15px;
        display: none;
    }
    /* FIN MAIN */

    /* INICIO EXPERIENCIA */
    .experiencia{
        height: 70vh;
    }
    .experiencia .informacion{
        margin-bottom: 20px;
    }
    .experiencia h3{
        font-size: 40px;
        /* text-align: center; */
        font-weight: 600;
    }
    .info-izquierda .container{
        height: 10rem;
        width: 250px;
        margin: 0;
        padding: 0;
    }
    .info-izquierda p {
        width: 65%;
        font-size: 15px;
    }
    .informacion .job{
        display: flex;
        font-size: 20px;
        margin-bottom: 0;
    }
    .info-derecha .container{
        height: 10rem;
        width: 250px;
        margin-left: 80px;
        padding: 0;
        justify-content: flex-end;
    }
    .info-derecha .container .job-derecho{
        align-self: flex-end;
    }
    .info-derecha p {
        /* width: 65%; */
        font-size: 15px;
        margin: 0;
    }
    .informacion .detalle{
        display: none;
    }
    /* FIN EXPERIENCIA */
}